*{
    margin: 0;
    padding: 0;
    font-family: math; 
    color: #ffffff   
}
body{
    background: url("./images/bg.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logo{
    height: 30px;
    cursor: pointer;
    background: black;
}

.line{
    height: 40px;
    margin: 0;
    padding: 0;
    border: 1px solid white;
}

.nav-bar{
    padding: 20px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav-items{
    /* border: 1px solid white; */
    background: black;
    display: flex;
    list-style: none;
    align-items: center;
    width: 65%;
    font-size: 16px;
}

.v{
    font-family: monospace;
    font-size:10px;
}

.nav-items li{
    margin-right: 9%;
    font-weight: 600;
    cursor: pointer;
    background: black;

}

.buy-token-btn{
    background: black;
    font-size: 16px;
    padding: 7px 18px;
    border-radius: 10px;
    font-weight: 500;
    background-color: #ba0cc5;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    margin: 5%;
    margin-bottom: 0;
    font-size: 70px;
    font-family: system-ui;
}

.hero h2{
    font-size: 30px;
    margin-top: 20px;
    font-family: system-ui;

}

.hero-position{
    text-align:center;
    /* position: fixed; */
}

.early-access-btn{
    margin-top: 3%;
    background-color: #ba0cc5;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 10px;
    font-weight:bold;
}